@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-sans text-gray-600 font-medium;
	}
	h1 {
		@apply text-5xl font-bold bg-clip-text bg-gradient-to-r from-teal-400 to-blue-500 text-transparent sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl;
	}
	h2 {
		@apply text-3xl font-bold bg-clip-text bg-gradient-to-r from-teal-400 to-blue-500 text-transparent inline-block sm:text-4xl md:text-5xl lg:text-6xl;
	}
	h3 {
		@apply text-xl font-bold lg:text-2xl;
	}
}

@layer components {
	.error-title {
		@apply text-9xl font-mono font-bold bg-clip-text bg-gradient-to-r from-teal-400 to-blue-500 text-transparent;
	}
	.error-desc {
		@apply text-3xl font-bold pb-4;
	}
	.section-y {
		@apply py-section;
	}
	.section-x {
		@apply w-full mx-auto lg:max-w-screen-md xl:max-w-screen-lg;
	}
	.highlight {
		@apply font-mono text-lightBlue-600 font-bold;
	}
	[data-scroll] {
		@apply invisible transform translate-y-20 opacity-0;
	}
	[data-scroll="in"] {
		@apply visible opacity-100 translate-y-0;
	}
	[data-scroll="out"] {
		@apply opacity-0 translate-y-20;
	}
}

[data-scroll] {
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}
